include LICENSE
recursive-include Ctl *.txt
recursive-include src/django_grainy *.py
recursive-include src/django_grainy *.html
recursive-include src/django_grainy *.js
recursive-include src/django_grainy_test *.py
include Ctl/VERSION
